<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Start Page</title>
    </h:head>
    <h:body>
        <h1>Hello World!</h1>
        <div>
            <h:form id="click-me-form">
                <h:commandButton
                    id="click-me"
                    value="Click Me!"
                    action="#{mediatorBean.doNothing}">
                </h:commandButton>          
            </h:form>
        </div>
    </h:body>
</html>
